.indicator-container {
  bottom: 0;
  left: 0;
  position: absolute;
  height: 10px;
  background: linear-gradient(
    159deg,
    rgba(101, 25, 225, 0.95) 0%,
    rgba(52, 14, 222, 0.982) 25%,
    rgba(12, 84, 235, 0.7852183109571954) 65%,
    rgba(13, 197, 201, 1) 100%
  );
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
